*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body::-webkit-scrollbar
{
  display: none
}
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

/* Navigation bar*/
/* ---------------------------------------------------------------------------------------- */
nav
{
  position: fixed;
  height: 4.7rem;
  width: 100%;
  background-color:rgb(38, 38, 38);
  color: whitesmoke;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  z-index: 2;
}
.spc ul li
{
  list-style: none;
  transition: 0.5s;
  margin: 0 1rem;
}
a
{
  text-decoration: none;
  color: whitesmoke;
}
ul li:hover
{
  color: goldenrod;
}
#home-page
{
  color: goldenrod;
}
.spc ul
{
  display: flex;
  align-items: center;
}
.spc
{
  margin: 0 1rem;
}
.logo
{
  margin: 0 2rem;
  color: goldenrod;
}
.manu-icon
{
  display: none;
  margin: 0 2rem;
  font-size: 1.5rem;
}
#btn1
{
  height: 2.6rem;
  width: 8.3rem;
  border-radius: 0.5rem;
  border: none;
  background-color: goldenrod;
  color: whitesmoke;
  font-size: 15px;
  font-weight: 500;
}

@media screen and (max-width:1100px){

  nav .items
    {
        position: fixed;
        z-index: 99;
        top: 80px;
        width: 100%;
        left: 100%;
        height: auto;
        background-color: #252525;
        display: inline-block;
        padding: 10px 50px 0 50px;
        text-align: center;
        transition: left 0.3s ease;

    }
    nav .items.active
    {
        left: 0%;
    }
    nav .items li
    {
        line-height: 40px;
        color: whitesmoke;
        margin: 30px 0;
    }
    ul li:hover
{
  color: goldenrod;
}
    nav .items li 
    {
        font-size: 20px;
    }
  .manu-icon
  {
    display: block;
    color: whitesmoke;
  }
    nav .manu-icon span.hide
    {
        display: none;
    }
}

/*Header css*/
/* ---------------------------------------------------------------------------------------- */

header
{
  background:rgba(0,0,0,0.8)url(photos/background.png);
  width: 100%;
  height:100vh;
  background-size:cover;
  background-blend-mode: darken;
  display: flex;
  align-items: center;
  justify-content: center;
}
.H-data
{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 5rem;
  padding:1rem 1rem;
  /* border: 1px solid white; */
  width: 100%;
}
.information-about-page
{
  height: auto;
  width: 36rem;
  color: whitesmoke;
  margin: 0 1rem;
}
#first-information
{
  color: whitesmoke;
  font-family:cursive;
  font-size: 4.5rem;
}
#second-information
{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 1rem 0;
}
#third-information-btn
{
  height: 2.6rem;
  width: 8.3rem;
  border: none;
  background-color: goldenrod;
  color: whitesmoke;
  font-size: 15px;
  font-weight: 500;
  margin-top: 1rem;
}
.H-data img
{
  height: 30rem;
  border-radius: 50%;
  margin: 0 1rem;
  /* animation: reted-pasta-animation 8s linear infinite;*/
}

/* @keyframes reted-pasta-animation
{
  form{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
} */ 

@media screen and (max-width:1120px){
  header
  {
    height: max-content;
    text-align: center;
    width: 100%;
  }
  .information-about-page,.H-data img
  {
    margin: 1rem 1rem;
  }
}


/*css for 4 boxes*/
/* ---------------------------------------------------------------------------------------- */

.alldata-about-food-zone
{
  height: auto;
  width: auto;
  margin: auto;
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}
#data-about-chefs,#data-about-food-quality,#data-about-online-order,#data-about-service
{
  height:18rem;
  width: 18rem;
  border-radius: 1rem;
  margin:1rem 1.5rem;
  box-shadow:2px 5px 10px 10px  rgba(0, 0, 0, 0.114);
  transition: 0.5s;
}
.alldata-about-food-zone i
{
  font-size:3rem;
  margin-top: 2rem;
  color: rgb(255, 198, 55);
  transition: 0.5s;
}
#chif-name,#foof-quality-name,#online-order-name,#service-name
{
  font-size: 1.5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  margin-top: 2rem;
}
#chif-information,#food-quality-information,#online-order-information,#service-infprmation
{
  font-size: 1.1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top: 1.5rem;
}
#data-about-chefs:hover,#data-about-food-quality:hover,#data-about-online-order:hover,#data-about-service:hover
{
   background-color: rgb(255, 198, 55);
   color: white;
   
   i
   {
    color: white;
   }
}


/* ---------------------------------------------------------------------------------------- */


.containar-with-photos-and-information-about-food-zone
{
  margin: 0 auto;
  margin-top: 6.5rem;
  width:auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.containar-with-photos-about-hotel
{
  display: grid;
  height: 35rem;
  width: 35rem;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  row-gap: 0.8rem;
  column-gap: 0.8rem;
  margin: 0 1rem;
}
#containar-photo-number-one
{
  background-image: url(photos/first-photo.webp);
  background-size: cover;
}
#containar-photo-number-two
{
  background-image: url(photos/third-photo.jpg);
  background-size: 100% 100%;
  height: 14rem;
  width: 14rem;
  align-self: end;
}
#containar-photo-number-three
{
  background-image: url(photos/second-photo.webp);
  background-size: cover;
  height: 14rem;
  width: 14rem;
  justify-self: end;
}
#containar-photo-number-four
{
  background-image: url(photos/forth-photo.jpg);
  background-size: cover;
  
}

.containar-information-about-hotel-and-exp
{
  height: 35rem;
  width: 40rem;
  margin: 0 1rem;
}
#A-B-T-U-S-data
{
  font-family:cursive;
  font-size: 1.6rem;
  color: rgb(225, 174, 45);
  margin-top: 2.8rem;
}
#main-tital-of-this-hotel
{
  font-size: 2.5rem;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 550;
}
#main-tital-of-this-hotel i
{
  color: rgb(255, 198, 55);
}
#first-data-about-this-hotel,#second-data-about-this-hotel
{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.2rem;
  margin-top: 1.5rem;
}
.data-about-this-hotel
{
  display: flex;
  width: 35rem;
  justify-content: space-between;
  margin-top: 2rem;
}
#exp-about-this-hotel,#popularity-of-this-hotel
{
  display: flex;
  width: 15rem;
  height: 4.5rem;
  align-items: center;
  margin: 0 auto;
  border-left: 3px solid  rgb(225, 174, 45);;
}
.year-ingfo
{
  font-size: 4rem;
  font-weight: 600;
  margin: 0 12px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(225, 174, 45);
}
.year-ingfo-dta
{
  font-size: 1.1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.year-ingfo-dta span
{
  font-weight: 550;
}
#containar-btn-for-more-information
{
  height: 3.3rem;
  width: 12rem;
  margin-top: 2rem;
  background-color:rgb(225, 174, 45);
  color: white;
  border: none;
}
/*  */

.M-P-L-most-popular-items
{
  text-align: center;
  font-family: cursive;
  font-size: 3.1rem;
}
#our-best-food-manu
{
  font-family:cursive;
  text-align: center;
  font-size: 1.6rem;
  color: rgb(225, 174, 45);
  margin-top: 5rem;
}

.B-L-D-thumnail
{
  height: 6.5rem;
  width: 35rem;
  margin: 0 auto;
  margin-top: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.B-D-L-with-same-name
{
  height: 5rem;
  width: 10.5rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 5px solid rgba(202, 202, 202, 0.486);
  cursor: pointer;
  transition: 0.9s;
}
.B-D-L-with-same-name:hover
{
  border-bottom: 5px solid rgb(225, 174, 45);
}
.B-D-L-with-same-name i
{
  font-size: 2.2rem;
  color: rgb(225, 174, 45);
}
#B-L-D-name-p
{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
}
#B-L-D-name
{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
}
.breakfat-launch-and-dinner-information-with-manu
{
  margin: 0 auto;
  margin-top: 2.5rem;
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.types-of-food-best-time-for-eat
{
  height: 32rem;
  width: 40rem;
  margin: 1rem auto;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}
.B-L-D-food-items-with-ratings-part-pratham,.B-L-D-food-items-with-ratings-part-dritiya
{
  height: 7rem;
  width:40rem ;
  display: flex;
  align-items: center;
}
.B-L-D-food-items-name-and-info
{
  width: 27rem;
  margin: 0 1rem ;
}
.B-L-D-food-items-name-and-info hr
{
  width: 24rem;
  margin: 5px;
}
.B-L-D-food-items-photo
{
  height: 7rem;
  width: 7rem;
}
.name-of-B-L-D
{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
}
.extra-lines-of-B-L-D
{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 0.9rem;
}
.B-L-D-food-items-price
{
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  color: rgb(255, 198, 55);
}
.B-L-D-food-items-photo img
{
  height: 7rem;
  width: 7rem;
}

/*  */
#all-our-master-details-heading
{
  text-align: center;
  font-family: cursive;
  font-size: 3.1rem;
}
#all-team-members
{
  font-family:cursive;
  text-align: center;
  font-size: 1.6rem;
  color: rgb(225, 174, 45);
  margin-top: 5rem;
}
#our-master-chefs-name-with-details
{
  margin: 0 auto;
  margin-top: 2.5rem;
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.four-master-chefs
{
  height: 20rem;
  width: 18.5rem;
  border-radius: 0.5rem;
  margin: 1rem 1.5rem;
  box-shadow:2px 5px 10px 10px  rgba(0, 0, 0, 0.112);
  text-align: center;
}
#master-chef-photo
{
  height: 13rem;
  width: 13rem;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 1rem;
}
#master-chef-photo img
{
  height: 13rem;
  width: 13rem;
  border-radius: 50%;
}
#master-chef-name
{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
}
#master-chef-city
{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 350;
  margin-top: 1rem;
}

/*  */

.last-part-of-site
{
  height: auto;
  width: 100%;
  background-color: rgb(9, 9, 49);
  margin-top: 8rem;
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.last-web
{
  height: 15rem;
  width: max-content;
  margin: 1rem auto;
  padding: 1rem 1rem;
  text-align: start;
}
#last-part-web-data ul li
{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.last-web #lst-p
{
  font-family: cursive;
  color: rgb(225, 174, 45);
  margin: 1rem 0;
}
.lst-idn
{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 1rem 0;
}
.lst-opnt
{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0.5rem 0;
}
.lstspc
{
  margin: 1rem 0;
}
#lst-input
{
  background-color: whitesmoke;
  height: 3rem;
  display: flex;
  align-items: center;
}
#lst-input input
{
  background-color: transparent;
  border: none;
  outline: none;
}
#lst-input button
{
  height: 2rem;
  width: 4rem;
  border: none;
  margin: auto 5px;
  background-color: rgb(225, 174, 45);
  color: whitesmoke;
}
/* responsiv css */
/* ------- */
@media screen and (max-width:701px) {

  .H-data img
  {
    height: 28rem;
  }
  #first-information
{
  color: whitesmoke;
  font-family:cursive;
  font-size: 4rem;
}
#second-information
{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 1rem 0;
  font-size: 0.8rem;
}
/* --- */
  .alldata-about-food-zone
  {
    margin-top: 3rem;
  }
  #data-about-chefs,#data-about-food-quality,#data-about-online-order,#data-about-service
{
  height:16rem;
  width: 16rem;
  margin:1rem 1.5rem;
  padding: 0 1rem;
}
.alldata-about-food-zone i
{
  font-size:2.5rem;
  margin-top: 2rem;
  color: rgb(255, 198, 55);
  transition: 0.5s;
}
#chif-name,#foof-quality-name,#online-order-name,#service-name
{
  font-size: 1.2rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  margin-top: 1rem;
}
#chif-information,#food-quality-information,#online-order-information,#service-infprmation
{
  font-size: 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top: 1.4rem;
}
/* ------ */

.containar-with-photos-and-information-about-food-zone
{
  margin: 0 2rem;
  margin-top: 5rem;
}
#containar-photo-number-one
{
  align-self: end;
  justify-self: end;
}
#containar-photo-number-one,#containar-photo-number-four
{
  height: 16rem;
  width: 16rem;
}
#containar-photo-number-two,#containar-photo-number-three
{
  height: 13rem;
  width: 13rem;
}
#A-B-T-U-S-data
{
  font-family:cursive;
  font-size: 1.4rem;
  color: rgb(225, 174, 45);
  margin-top: 2.8rem;
}
#main-tital-of-this-hotel
{
  font-size: 2.2rem;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 550;
}
#first-data-about-this-hotel,#second-data-about-this-hotel
{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  margin-top: 1.5rem;
}
.year-ingfo
{
  font-size: 3rem;
  font-weight: 600;
  margin: 0 12px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(225, 174, 45);
}
.year-ingfo-dta
{
  font-size: 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#containar-btn-for-more-information
{
  height: 3.2rem;
  width: 10rem;
  margin-top: 2rem;
  background-color:rgb(225, 174, 45);
  color: white;
  border: none;
}
/* ------- */
#our-best-food-manu
{
  font-family:cursive;
  text-align: center;
  font-size: 1.4rem;
  color: rgb(225, 174, 45);
  margin-top: 1rem;
}
.M-P-L-most-popular-items
{
  text-align: center;
  font-family: cursive;
  font-size: 3rem;
}
.B-L-D-thumnail
{
  height: 6.5rem;
  width: 33rem;
  margin: 0 auto;
  margin-top: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.breakfat-launch-and-dinner-information-with-manu
{
  margin-top: 2rem;
}
.types-of-food-best-time-for-eat
{
  height: 30rem;
  width: 38rem;
  margin: 1rem auto;
}
.B-L-D-food-items-with-ratings-part-pratham,.B-L-D-food-items-with-ratings-part-dritiya
{
  height: 7rem;
  width:38rem ;
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
/* ------ */
#all-our-master-details-heading
{
  text-align: center;
  font-family: cursive;
  font-size: 3rem;
}
#all-team-members
{
  font-family:cursive;
  text-align: center;
  font-size: 1.3rem;
  color: rgb(225, 174, 45);
  margin-top: 5rem;
}
.four-master-chefs
{
  height: 18rem;
  width: 16rem;
  border-radius: 0.5rem;
  margin: 1rem 1.5rem;
  box-shadow:2px 5px 10px 10px  rgba(0, 0, 0, 0.112);
  text-align: center;
  padding: 0 1rem;
}
#master-chef-photo
{
  height: 12rem;
  width: 12rem;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 1rem;
}
#master-chef-photo img
{
  height: 12rem;
  width: 12rem;
  border-radius: 50%;
}
#master-chef-name
{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
}
#master-chef-city
{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 350;
  margin-top: 1rem;
}
/* ------ */

.last-web
{
  height: max-content;
  width: max-content;
  margin: auto auto;
  padding: 1rem 1rem;
  text-align: start;
}
.last-part-of-site
{
  height: auto;
  width: 100%;
  background-color: rgb(9, 9, 49);
  margin-top: 5rem;
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
}
/* ----- */
@media screen and (max-width:625px){

  .H-data img
  {
    height: 25rem;
  }
  #first-information
{
  color: whitesmoke;
  font-family:cursive;
  font-size: 3rem;
}
#second-information
{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 1rem 0;
  font-size: 0.6rem;
}
.H-data
{
  padding: 0 5rem;
}
/* ----- */
#data-about-chefs,#data-about-food-quality,#data-about-online-order,#data-about-service
{
  height:15rem;
  width: 14rem;
  margin:1rem 1.5rem;
  padding: 0 1rem;
}
#chif-name,#foof-quality-name,#online-order-name,#service-name
{
  font-size: 1.1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  margin-top: 1rem;
}
#chif-information,#food-quality-information,#online-order-information,#service-infprmation
{
  font-size: 0.9rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top: 1.4rem;
}
/* ---- */
.containar-with-photos-and-information-about-food-zone
{
  margin: 0 2rem;
  margin-top: 4rem;
}
#containar-photo-number-one
{
  align-self: end;
  justify-self: end;
}
#containar-photo-number-one,#containar-photo-number-four
{
  height: 14rem;
  width: 14rem;
}
#containar-photo-number-two,#containar-photo-number-three
{
  height: 11.5rem;
  width: 11.5rem;
}
#A-B-T-U-S-data
{
  font-family:cursive;
  font-size: 1.3rem;
  color: rgb(225, 174, 45);
  margin-top: 2rem;
}
#main-tital-of-this-hotel
{
  font-size: 2.1rem;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 550;
}
#first-data-about-this-hotel,#second-data-about-this-hotel
{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  margin-top: 1.2rem;
}
.year-ingfo
{
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0 12px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(225, 174, 45);
}
.year-ingfo-dta-
{
  font-size: 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#containar-btn-for-more-information
{
  height: 3rem;
  width: 10rem;
  margin-top: 2rem;
  background-color:rgb(225, 174, 45);
  color: white;
  border: none;
}
.data-about-this-hotel
{
  width: 28rem;
}
.containar-information-about-hotel-and-exp
{
  width: 30rem;
}
/* --------- */
#our-best-food-manu
{
  font-family:cursive;
  text-align: center;
  font-size: 1.2rem;
  color: rgb(225, 174, 45);
  margin-top: 1rem;
}
.M-P-L-most-popular-items
{
  text-align: center;
  font-family: cursive;
  font-size: 2rem;
}
.B-L-D-thumnail
{
  height: 6.5rem;
  width: 25rem;
  margin: 0 auto;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.B-L-D-thumnail i
{
  margin: 0 6px;
}
.types-of-food-best-time-for-eat
{
  height: 30rem;
  width: 30rem;
  margin: 1rem auto;
}
.B-L-D-food-items-with-ratings-part-pratham,.B-L-D-food-items-with-ratings-part-dritiya
{
  height: 7rem;
  width:30rem ;
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
.B-L-D-food-items-price
{
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: rgb(255, 198, 55);
}
.extra-lines-of-B-L-D
{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 0.8rem;
}
.name-of-B-L-D
{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
}
.B-L-D-food-items-name-and-info hr
{
  width: 12rem;
  margin: 5px;
}
#B-L-D-name-p
{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
}
#B-L-D-name
{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  font-weight: 500;
}
/* ------ */
#all-our-master-details-heading
{
  text-align: center;
  font-family: cursive;
  font-size: 2rem;
}
#all-team-members
{
  font-family:cursive;
  text-align: center;
  font-size: 1.2rem;
  color: rgb(225, 174, 45);
  margin-top: 5rem;
}
.four-master-chefs
{
  height: 16rem;
  width: 14rem;
  border-radius: 0.5rem;
  margin: 1rem 1.5rem;
  box-shadow:2px 5px 10px 10px  rgba(0, 0, 0, 0.112);
  text-align: center;
}
#master-chef-photo
{
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 1rem;
}
#master-chef-photo img
{
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
}
}
@media screen and (max-width:580px) {
  .H-data
{
  padding: 0 3rem;
} 
}
@media screen and (max-width:530px) {
  .H-data
{
  padding: 0 2rem;
} 
}
@media screen and (max-width:419px) {
  .H-data
{
  padding: 0 0;
} 
}
/* --------- */
@media  screen and (max-width:490px) {
  
  .H-data img
  {
    height: 20rem;
  }
  /* ----- */
  .containar-with-photos-and-information-about-food-zone
{
  margin: 0 2rem;
}
  #containar-photo-number-one,#containar-photo-number-four
{
  height: 11rem;
  width: 11rem;
}
#containar-photo-number-two,#containar-photo-number-three
{
  height: 9rem;
  width: 9rem;
}
#A-B-T-U-S-data
{
  font-family:cursive;
  font-size: 1.1rem;
  color: rgb(225, 174, 45);
  margin-top: 2.8rem;
}
#main-tital-of-this-hotel
{
  font-size: 1.5rem;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 550;
}
#first-data-about-this-hotel,#second-data-about-this-hotel
{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 0.8rem;
  margin-top: 1.5rem;
}
.year-ingfo
{
  font-size: 1.6rem;
  font-weight: 600;
  margin: 0 12px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(225, 174, 45);
}
.year-ingfo-dta
{
  font-size: 0.8rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#containar-btn-for-more-information
{
  height: 2rem;
  width: 8rem;
  margin-top: 2rem;
  background-color:rgb(225, 174, 45);
  color: white;
  border: none;
}
.containar-information-about-hotel-and-exp
{
  width: 21rem;
  margin-top: -4rem;
}
.data-about-this-hotel
{
  width: 20rem;
}
#exp-about-this-hotel,#popularity-of-this-hotel
{
  height: 4rem;
  width: 9rem;
}
/* ------- */
#our-best-food-manu
{
  font-family:cursive;
  text-align: center;
  font-size: 1.1rem;
  color: rgb(225, 174, 45);
  margin-top: -3rem;
}
.M-P-L-most-popular-items
{
  text-align: center;
  font-family: cursive;
  font-size: 1.5rem;
}
.B-L-D-thumnail
{
  height: auto;
  width: 20rem;
  margin: 0 auto;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.B-D-L-with-same-name
{
  width: 8rem;
}
.types-of-food-best-time-for-eat img
{
   height: 5rem;
   width: 5rem;
   justify-self: center;
   align-self: center;
}
.types-of-food-best-time-for-eat
{
  height: 30rem;
  width: 20rem;
  margin: 1rem auto;
}
.B-L-D-food-items-with-ratings-part-pratham,.B-L-D-food-items-with-ratings-part-dritiya
{
  height: 5rem;
  width:20rem ;
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
.B-L-D-food-items-photo
{
  height: 5rem;
}
.extra-lines-of-B-L-D
{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 0.6rem;
}
.name-of-B-L-D
{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  font-weight: 500;
}
.B-L-D-food-items-name-and-info hr
{
  width: 6rem;
  margin: 5px;
}
/* ---- */
#all-our-master-details-heading
{
  text-align: center;
  font-family: cursive;
  font-size: 1.5rem;
}
#all-team-members
{
  font-family:cursive;
  text-align: center;
  font-size: 1rem;
  color: rgb(225, 174, 45);
  margin-top: 5rem;
}
}
/* ---- */
@media screen and (max-width:384px) {
  
  #containar-photo-number-one,#containar-photo-number-four
  {
    height: 9rem;
    width: 9rem;
  }
  #containar-photo-number-two,#containar-photo-number-three
  {
    height: 7.5rem;
    width: 7.5rem;
  }
}
/* ----- */
@media screen and (max-width:335px)
{
  header
  {
    height: 48rem;
  }
  .H-data img
  {
    height: 14rem;
  }
  #first-information
  {
    font-size: 2rem;
  }
#third-information-btn
{
  height: 2rem;
  font-size: 0.8rem;
}
/* ------ */

#data-about-chefs,#data-about-food-quality,#data-about-online-order,#data-about-service
{
  height:14rem;
  width: 12.5rem;
  margin:1rem 1.5rem;
  padding: 0 1rem;
}
#chif-name,#foof-quality-name,#online-order-name,#service-name
{
  font-size: 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  margin-top: 1rem;
}
#chif-information,#food-quality-information,#online-order-information,#service-infprmation
{
  font-size: 0.7rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top: 1.4rem;
}
/* ------- */
.containar-with-photos-and-information-about-food-zone
{
  margin: 0 2rem;
  margin-top:-5rem;
}
#containar-photo-number-one,#containar-photo-number-four
{
  height: 7rem;
  width: 7rem;
}
#containar-photo-number-two,#containar-photo-number-three
{
  height: 5.8rem;
  width: 5.8rem;
}
.containar-information-about-hotel-and-exp
{
  margin-top: -4rem;
  width: 15rem;
}
#first-data-about-this-hotel
{
  display: none;
}
#A-B-T-U-S-data
{
  font-family:cursive;
  font-size: 1rem;
  color: rgb(225, 174, 45);
  margin-top: -2rem;
}
#main-tital-of-this-hotel
{
  font-size: 1.3rem;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 550;
}
#first-data-about-this-hotel,#second-data-about-this-hotel
{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 0.8rem;
  margin-top: 1.2rem;
}
.data-about-this-hotel
{
  width: 15rem;
}
#containar-btn-for-more-information
{
  width: 6rem;
}
/* ------ */
#our-best-food-manu
{
  margin-top: -12rem;
  font-size: 1rem;
}
.M-P-L-most-popular-items
{
  font-size: 1.1rem;
}
.B-L-D-thumnail
{
  width: 14rem;
}
.B-D-L-with-same-name
{
  width: 6.8rem;
}
.B-D-L-with-same-name i
{
  font-size: 1.8rem;
}
#B-L-D-name
{
  font-size: 0.8rem
}
/* -------- */
.types-of-food-best-time-for-eat
{
  height: 20rem;
  width: 15rem;
  margin: 1rem auto;
  display: flex;
  flex-wrap: wrap;
}
.B-L-D-food-items-with-ratings-part-pratham,.B-L-D-food-items-with-ratings-part-dritiya
{
  height: 5rem;
  width:15rem ;display: flex;
  align-items: center;
  margin-top: 0.5rem;
}
.extra-lines-of-B-L-D
{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 0.5rem;
}
.name-of-B-L-D
{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
}
.B-L-D-food-items-price
{
  font-size: 1rem;
}
.types-of-food-best-time-for-eat img
{
  height: 4rem;
  width: 4rem;
  justify-self: center;
  align-self: center;
  margin-top: 0.5rem;
}
.B-L-D-food-items-name-and-info hr
{
  width: 5rem;
  margin: 5px;
}
/* --- */
#all-team-members
{
  font-size: 0.9rem;
}
#all-our-master-details-heading
{
  font-size: 1.2rem;
}
.four-master-chefs
{
  height:14.5rem;
  width: 12.5rem;
}
#master-chef-photo img
{
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
}
#master-chef-name
{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  font-weight: 500;
}
#master-chef-city
{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 350;
  margin-top: -0.5rem;
}
/* ------ */
.last-web
{
  height: max-content;
  width: max-content;
}
}
